<mat-card *ngFor="let device of devices">

    <mat-card-header>
        <mat-icon mat-card-avatar style="font-size: xxx-large;">memory</mat-icon>
        <mat-card-title>
            {{device.Name}}
        </mat-card-title>
        <mat-card-subtitle>MAC: {{device.MAC}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="device-sensors-container">
            <mat-card *ngFor="let sensor of device.Sensors" class="sensor-card">
                <mat-card-content class="sensor-content">
                    <mat-card-title>{{sensor.Name}}</mat-card-title>
                    <div *ngIf="!deviceSensorValues" class="loading-placeholder animated-background"></div>
                    <span *ngIf="deviceSensorValues" class="sensor-value">{{getSensorLastValue(sensor.Channel)}} {{sensor.Unit}}</span>
                </mat-card-content>
                <mat-card-footer [ngClass]="getSensorFooterStyle()" style="height: 5px"></mat-card-footer>
            </mat-card>
    </mat-card-content>
    
</mat-card>
