<!-- <div class="container">

    <div class="title">
        <h1 style="margin: 0;">Robo UR E3</h1>
        <h3 style="margin: 0;">PUCPR - Curitiba</h3>
        <h3 style="margin: 0;">LAS VII</h3>
    </div>
    
    <div class="asset-container">
        <div class="asset-image-container">
            <img class="asset-image" src="../../assets/robot.png" alt="" srcset="">
        </div>

        <div class="asset-info">
    
            <div class="card">
                <div class="card-header">
                    Temperatura
                </div>
                <div class="card-content">
                    {{temperature | number: '1.2-2'}} °C
                </div>
            </div>
    
            <div class="card">
                <div class="card-header">
                    Corrente de Alimentação
                </div>
                <div class="card-content">
                    {{current | number: '1.2-2'}} A
                </div>
            </div>
    
            <div class="card">
                <div class="card-header">
                    Tarifa atual
                </div>
                <div class="card-content">
                    R$ {{amount | number: '1.2-2'}}
                </div>
            </div>
    
        </div>
    </div>

    
</div> -->

<div class="page-container">
    <div class="page-header-background"></div>

    <div class="page-header">
        <span class="page-title">{{asset?.Name}}</span>
        <span class="page-description">{{asset?.Sector?.Name}} - {{asset?.Sector?.Local?.Name}}</span>
    </div>

    <div class="page-body">

        
        <div class="asset-info">

            <mat-card class="asset-image-container">
                <img class="asset-image" src="../../assets/robot.png" alt="" srcset="">
                <div class="online-label-container">
                    <mat-icon class="online-circle">circle</mat-icon>
                    <span class="online-label">Online</span>
                </div>
            </mat-card>

            <app-asset-consumption class="consumption-container"></app-asset-consumption>

            <mat-card class="graph-container">
            </mat-card>
        </div>

        <app-device-sensors *ngIf="asset" [asset]="asset"></app-device-sensors>
    </div>
</div>
