<div class="page-container">
    <div class="page-header-background"></div>

    <div class="page-header">
        <span class="page-title">{{asset?.Name}}</span>
        <span class="page-description">{{asset?.Sector?.Name}} - {{asset?.Sector?.Local?.Name}}</span>
    </div>

    <div class="page-body">

        
        <div class="asset-info">

            <mat-card class="asset-image-container">
                <img class="asset-image" src="../../assets/robot.png" alt="" srcset="">
                <div class="online-label-container">
                    <mat-icon class="online-circle">circle</mat-icon>
                    <span class="online-label">Online</span>
                </div>
            </mat-card>

            <app-asset-consumption class="consumption-container"></app-asset-consumption>

            <mat-card class="graph-container">
            </mat-card>
        </div>

        <app-device-sensors *ngIf="asset" [asset]="asset"></app-device-sensors>
    </div>
</div>
